.todo-app {
  width: 80vw;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.todo-input,
.todo-date {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  border-radius: 40px;
}

.add-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #28a745;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px; /* Adding some space from the input container */
}

.add-button:hover {
  background: #1e7932;
}

.clear-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #a72828;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px; /* Adding some space from the input container */
}

.clear-button:hover {
  background: #791e1e;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 40px;
  margin-bottom: 10px;
  transition: background 0.3s ease;
}

.todo-item:hover {
  background: #f9f9f9;
}

.todo-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 10px;

  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.todo-checkbox:checked {
  background-color: #28a745;
  border-color: #28a745;
}

.todo-checkbox:focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.3);
}

.todo-item span {
  flex: 1;
  text-align: left;
}

.todo-item span.completed {
  text-decoration: line-through 2px;
  color: #999;
}

.title {
  font-weight: bold;
}

.delete-button {
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background: #dc3545;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.delete-button:hover {
  background: #c82333;
}

@media (max-width: 600px) {
  .todo-app {
    padding: 15px;
  }

  .input-container {
    flex-direction: column;
  }

  .todo-input,
  .todo-date,
  .add-button {
    margin-bottom: 10px;
    width: 100%;
  }

  .todo-input,
  .todo-date {
    margin-right: 0;
  }

  .add-button {
    margin-bottom: 0;
  }
}
