<div class="todo-app">
  <h1>To Do List</h1>
  <div class="input-container">
    <div class="form-group">
      <label for="todoTitle" class="form-label">Title:</label>
      <input
        type="text"
        id="todoTitle"
        class="todo-input"
        [(ngModel)]="newTodoTitle"
        placeholder="Enter task title"
        (keyup.enter)="addTodo()"
      />
    </div>
    <div class="form-group">
      <label for="todoDueDate" class="form-label">Date:</label>
      <input
        type="date"
        id="todoDueDate"
        class="todo-date"
        [(ngModel)]="newTodoDueDate"
        (keyup.enter)="addTodo()"
      />
    </div>
    <button class="add-button" (click)="addTodo()">Add Task</button>
  </div>
  <ul class="todo-list">
    <li *ngFor="let todo of todos" class="todo-item">
      <input
        type="checkbox"
        class="todo-checkbox"
        [checked]="todo.completed"
        (change)="toggleTodoCompletion(todo)"
      />
      <span [class.completed]="todo.completed">
        <span class="title">{{ todo.title }}</span> |
        {{ todo.dueDate | date : "EEEE d MMM y" }}
      </span>

      <button class="delete-button" (click)="deleteTodo(todo)">Delete</button>
    </li>
  </ul>
</div>
