<div class="todo-app">
  <h1>To-Do List</h1>
  <div class="input-group">
    <input [(ngModel)]="newTodoTitle" placeholder="Add a new to-do" />
    <button (click)="addTodo()">Add</button>
  </div>
  <ul>
    <li *ngFor="let todo of todos">
      <input
        type="checkbox"
        [(ngModel)]="todo.completed"
        (change)="toggleTodoCompletion(todo)"
      />
      <span [class.completed]="todo.completed">{{ todo.title }}</span>
      <button (click)="deleteTodo(todo)">Delete</button>
    </li>
  </ul>
</div>
